body {
    color: white;
    margin: 0;
    background: url('./Images/klyck_nebula_remastered-wallpaper-3554x1999.jpg');
    background-size: cover;
}
main{
    margin: 3vh 0 0 2vh;
}
input, label, button {
    display: block;
}
hr {
    width: 60%;
}
form {
    padding: 1em 1em 1em 1em;
    margin: 0 auto;
    width: max-content;
}
button {
    margin: 1em;
}
#submitButton{
    padding-right: 2em;
    padding-left: 2em;
    margin: 0 auto;
    width: max-content;
}
label {
    font-size: 3vh;
    margin: 0 0 0 0.4em;
    width: max-content;
}
.text-center {
    text-align: center;
}
.page-header {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 6vh;
    text-decoration: underline #6cb1ff;
    color: #0ea88fec;
}
.credential-input {
    margin: 0 0 1em 0;
    width: 36vh;
    height: 3vh;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box {
    height: 10em;
    width: 10rem;
    float: left;
}
.border-yellow {
    border: 5px solid goldenrod;
    box-sizing: border-box;
}
.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.purple {
    background: purple;
}